# Model Checkpoints
/checkpoints/
*.pth

# Dataset
/data/

# Output hasil prediksi
/outputs/

# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Temp scripts
check_*.py

# OS files
Thumbs.db
.DS_Store
